body {
    margin: 0;
}

.header-container {
    width: 100%;
    height: 60px;
    background-color: #22d3ee;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-size: 25px;
    display: flex;
}

.icon-blog {
    padding: 20px;
    font-size: xx-large;
}

.icon-blog:hover {
    cursor: pointer;
    color: #94a3b8;
}

.input-search {
    height: 25px;
    width: 250px;
    appearance: none;
    background-color: #22d3ee;
    border: 1px solid #000;
    border-radius: 6px;
    outline: none;
}

.input-search:hover {
    cursor: pointer;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}


.icon-user {
    padding: 20px;
    font-size: xx-large;
}

.icon-user:hover {
    cursor: pointer;
    color: #94a3b8;
}
